$MaxMobile:"(max-width: 767px)";
$MaxSmall:"(max-width: 991px)";
$MinSmall:"(min-width: 768px)";
$MinMedium:"(min-width: 992px )";
$MinLarge:"(min-width: 1200px)";


$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;